<p>home works!</p>
¿Cómo puede ser verdad? <br>
Last night I dreamt of San Pedro<br>
Just like I'd never gone, I knew the song<br>
A young girl with eyes like the desert<br>
It all seems like yesterday, not far away<br>
Tropical the island breeze<br>
All of nature wild and free<br>
This is where I long to be<br>
La isla bonita<br>
And when the samba played<br>
The sun would set so high<br>
Ring through my ears and sting my eyes<br>
Your Spanish lullaby<br>
I fell in love with San Pedro<br>
Warm wind carried on the sea, he called to me<br>
Te dijo: "te amo"<br>
I prayed that the days would last, they went so fast<br>
Tropical the island breeze<br>
All of nature wild and free<br>
This is where I long to be<br>
La isla bonita<br>
And when the samba played<br>
The sun would set so high<br>
Ring through my ears and sting my eyes<br>
Your Spanish lullaby<br>
I want to be where the sun warms the sky<br>
When it's time for siesta, you can watch them go by<br>
Beautiful faces, no cares in this world<br>
Where a girl loves a boy, and a boy loves a girl<br>
Last night I dreamt of San Pedro<br>
It all seems like yesterday, not far away<br>
Tropical the island breeze<br>
All of nature wild and free<br>
This is where I long to be<br>
La isla bonita<br>
And when the samba played<br>
The sun would set so high<br>
Ring through my ears and sting my eyes<br>
Your Spanish lullaby<br>
Da-da, da-da-da<br>
Tropical the island breeze<br>
All of nature wild and free<br>
This is where I long to be<br>
La isla bonita<br>
And when the samba played<br>
The sun would set so high<br>
Ring through my ears and sting my eyes<br>
Your Spanish lullaby<br>
La-la-la-la-la-la-la<br>
Te dijo: "te amo"<br>
La-la-la-la-la-la-la<br>
El dijo que te ama
Pa-pa-ra-pa-pa, pa-pa-pa-pa (ah-ah)
Ah-ah, ah-ah
La isla bonita
Ah-ah, ah-ah, ah-ah
